* {
	margin:0; padding:0; outline:0;
	transition:all .5s .1s;
	-moz-transition:all .5s .1s;
	-ms-transition:all .5s .1s;
	-o-transition:all .5s .1s;
	-webkit-transition:all .5s .1s;
} body {
	background: url(../img/bodybg.jpg) repeat;
	font-family:"Helvetica Neue", Helvetica, Verdana, sans-serif;
	color:#3b2f27;
	position:relative;
} a, a:hover {
	color:#FFF;
	text-decoration:none;
} nav {
	padding:50px 0;
} nav ul {
	display:table;
	margin:0 auto;
	background:#34495e;
	border-radius:5px;
	border-bottom:2px solid #2c3f50;
} nav ul li {
	float:left;
	border-left:1px solid #435565;
	border-right:1px solid #2c3f50;
	position:relative;
	list-style:none;
	line-height:14px;
	font-size:14px;
	font-weight:bold;
} nav ul li:first-of-type {
	border-left:none;
} nav ul li:last-of-type {
	border-right:none;
} nav ul li a {
	display:block;
	padding:13px 15px;
} nav>ul>li>a:before {
	content:"\00BB \0020";
	display:block;
	float:left;
	font-size:20px;
	width:20px;
	height:14px;
	text-align:center;
	line-height:14px;
	transform:rotate(90deg);
	-moz-transform:rotate(90deg);
	-ms-transform:rotate(90deg);
	-o-transform:rotate(90deg);
	-webkit-transform:rotate(90deg);
} nav>ul>li:first-of-type>a {
	border-radius:5px 0 0 0;
} nav>ul>li:last-of-type>a {
	border-radius:0 5px 0 0;
} nav>ul>li:hover>a:before {
	margin:0 3px 0 -3px;
	-moz-transform:rotate(-90deg);
	-ms-transform:rotate(-90deg);
	-o-transform:rotate(-90deg);
	-webkit-transform:rotate(-90deg);	
} nav>ul>li:hover>a {
	background-color:#1bbc9b;
	display:block;
	padding:13px 15px;
} nav ul li ul {
	display:block;
	position:absolute;
	border:none;
	left:0;
	top:200%;
	opacity:0;
	width:150%;
	border-radius:0 0 5px 5px;
	background-color:#1bbc9b;
} nav ul li:last-of-type ul {
	left:auto;
	right:0;
} nav ul li ul li {
	height:0;
	padding:0;
	font-size:12px;
	float:none;
	border:none;
	overflow:hidden;
} nav ul li ul li a {
	text-indent:-50%;
	opacity:0;
} nav ul li:hover ul {
	opacity:1;
	top:40px;
	padding:5px 0;
} nav ul li:hover ul li {
	height:40px;
} nav ul li:hover ul li a {
	text-indent:0;
	opacity:1;
} nav ul li:hover ul li:hover a {
	background-color:#07a887;
} p {
  position:fixed;
  right:0;
  bottom:0;
  font-size:11px;
  color:#FFF;
  display:block;
  padding:5px;
}
//====================================================
.clearfix:after {content: ".";display: block;height: 0;clear: both;visibility: hidden;}
.clearfix {display: inline-block;}
* html .clearfix { height: 1%;}
.clearfix {display: block;}
#page,#footer_inner{margin:0 auto;width:960px;}
h1#logo{overflow:hidden;height:93px;padding: 25px 0;}
h1#logo a{display:block;height:93px;}
#container{margin:0 auto;}
#container h2 {font-weight:normal;line-height:28px;}
#container p{padding:10px 0;}
.credit{text-align:center;padding: 20px 0 100px;font-size:10px;}

/*-核心代码-*/
/* demo style */
.focusWrap{
	width:710px;
	height:304px;
	margin:10px auto;
	background:url(../img/focusbg.gif) left top repeat;
}
.focusCon{
	float:left;
	width:704px;
}
.focusR{
	display:inline;
	float:right;
	width:236px;
	height:100%;
	margin-right:10px;
}
.kugoo{
	width:100%;
	height:165px;
	background:url(../img/kugou.png) left top no-repeat;
}
.kugoo a{
	display:inline;
	float:left;
	width:202px;
	height:70px;
	margin:92px 0px 0px 10px;
	overflow:hidden;
	line-height:200px;
	text-decoration:none;
}
.ulHot{
	float:left;
	width:100%;
	height:115px;
	margin-top:10px;
	background:url(../img/kugou.png) right bottom no-repeat;
}
.ulHot li{
	display:inline;
	float:left;
	width:100%;
	height:20px;
	line-height:20px;
}
.ulHot li a{
	float:left;
	width:180px;
	padding-left:25px;
	background:url(../img/arrow.gif) 16px center no-repeat;
	text-decoration:none;
	color:#fff;
	font-size:12px;
}
.focusL{
	position:relative;
	float:left;
	width:140px;
	height:288px;
	margin-top:12px;
	background:url(../img/line.png) left top repeat-y;
}
.ulFocus{
	position:relative;
	width:100%;
	height:100%;
	left:0px;
	top:0px;
	z-index:2;
}
.ulFocus li{
	display:inline;
	float:left;
	width:120px;
	height:38px;
	margin:5px 10px 2px 10px;
	color:#fff;
	font-size:12px;
	line-height:16px;
}
.ulFocus li span{
	position:relative;
	display:block;
	width:100%;
	height:32px;
	padding-bottom:6px;
	z-index:2;
	cursor:pointer;
}
.focusM{
	float:left;
	width:564px;
	height:293px;
	margin-top:6px;
	overflow:hidden;
}
.ulFCon{
	float:left;
	width:100%;
}
.ulFCon li{
	float:left;
	width:100%;
	height:293px;
	overflow:hidden;
}
.ulFCon li a{
	display:block;
	width:100%;
	height:100%;
	text-decoration:none;
}
.ulFCon li img{
	width:564px;
	height:293px;
	border:none;
}
.back{
	position:absolute;
	width:166px;
	height:47px;
	background:url(../img/titlebg.png) left top no-repeat;
	_background:none;
	_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=scale, src="../img/titlebg.png");
	top:0px;
	left:0px;
	z-index:1;
}


